@tailwind base;
@tailwind components;
@tailwind utilities;

.popular-tag {
    background-color: #3639e4;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}